mark
{
  background-color: #2574a9;
  color: black;
}
.rectangle {
  float: left;
  width: 100%;
  height: 125px;
  background: #2574a9;
}
.rectangle2 {
  float: left;
  width: 100%;
  height: 250px;
  background: #9a12b3
}
.rectangle3 {
  float: left;
  width: 100%;
  height: 180px;
  background: #db0a5b
}
.border {
  border-top: 3px #b1b1b1 double;
  border-left: 3px #b1b1b1 double;
}
